h1 {
    color: rgb(129, 6, 82);
     background-color: rgb(179, 150, 182);
 }

 h2 {
     color :rgb(139, 55, 101);
     background-color:rgb(179, 150, 182);
 }

.licolor {
    color: rgb(104, 35, 112); 
    background-color:rgb(177, 122, 184);
}

#li1 {
   color: rgb(100, 12, 56); 
    background-color: rgb(139, 55, 101);

}

p {
    font-size : 30px;
}

body {
    text-align: center;
    background-color: rgb(250, 179, 212);
    border-style: double;
}

img {
    width: 50%;
}